<html>
<head>

  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style type="text/css">

body, html
{
	background-color: #EDEDED !important;
}

.intro
{
	text-align: center;
	padding-top: .25%;
	padding-bottom: .25%;
  margin-left:.5%;
  margin-right:.5%;
  margin-top:5%; 
}

.intro h1
{
	font-weight: 450;
	text-transform: uppercase;
}

.intro h5
{
	text-transform: uppercase;
	background-color: #f5f5f5;
	padding: 10px;
	color: #333333;
	display: inline-block;
	font-size: 1.2rem;
}


.about .col
{
	margin-bottom: 24px;
}

.about h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.about hr
{
	width: 40px;
	margin-bottom: 45px;
}

.about .card
{
	text-align: center;
}

</style>

</head>
<body>

	<div class="intro">
        <h3 class="black-text text-lighten-4"><b><%=project.title%></b></h3>
   </div>

 <div class="row" style="margin-bottom: 0px">
  <label>
       <h4 class='black-text' style="margin-left:10px">Description:</h4>
  </label>
    <div class="col s12 ">
      <div class="card-panel teal">
        <span class="white-text" style="font-size: 20px"><%=project.proposal %>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        
        </span>
      </div>
    </div>
  </div>
  <div class="row">
  <label  style="float:left; margin-left:10px;margin-top:0px">
    <button id="btn" name='btn_login' class='col s12  btn btn-large waves-effect deep-orange'>UPVOTE <%=project.upvotes%></button>
  </label> 
</div>
  <div class="row" style="margin-bottom: 0px; margin-top: 50px">
  <label>
       <h4 class='black-text' style="margin-left:10px">Comments:</h4>
  </label>

<ul class="collection">
  <% project.answers.forEach(function(v){ %>

    <li class="collection-item avatar" style="margin-left:10px; margin-right:10px">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title" style="font-size: 25px; margin: 10px"><b><%=v.split(",")[0]%></b></span>
      <p style="font-size: 18px"><%=v.split(",")[2]%></p> 
    </li>
  <% }) %>
    
  </ul>
  </div>

 <div class='row'>
  <form action="/project/<%=project._id%>/comment">
    <div class="input-field col s12 m10">
      <!-- <p class="teal-text" style="font-size: 1.3vw">Add New Comment:</p> -->
      <textarea style="overflow-y: scroll ; resize:none;height: 100px;max-height: 100px" rows="30" cols="5" id="textarea2" class="materialize-textarea" placeholder="Add Comments"></textarea>
    </div>
    <div class="col s12 m2">
      <label>
        <button type='submit' name='btn_login' " class='col s12  btn btn-large waves-effect deep-orange'>Add Comment</button>
      </label>
    </div>
  </form>
 </div>

<p id="data" style="visibility: hidden;"><%=project._id%></p>
 

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"/>
<script src="https://cdn.rawgit.com/Dogfalo/materialize/master/dist/js/materialize.min.js"/>
<script type="text/javascript">
  
  alert("hello")
  $("#btn").click(function(event){

    console.log("test");
    event.preventDefault()
     $(this).html(function(data){
      vote = data.split(" ")[1]
      return "UPVOTE "+ parseInt(vote)+1
     })
     uri = $("#data").text()
    $.ajax({
        global: false,
        type: 'POST',
        url:'/project/'+uri+'/vote',
        dataType: 'html',
        data:"votes",
        success: function (result) {
            console.log(result);
        },
        error: function (request, status, error) {
            console.log("error has taken place",error );
        }
    });
  })
</script>
</body>
</html>

