<head>
	<title>EduNET</title>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<h1>view all the questions page</h1>
 <%projects.forEach(function(project){  %>

<div>
	<h2><%=project.title%></h2>
	<p><%=project.proposal%></p>
	<button id="upvote_<%=project._id%>">upvote</button>
	<p id="<%=project._id%>"><%=project.upvotes%></p>
	<a href="/project/<%=project._id%>">yoletsgo</a>
</div>
<hr>
<%})%>
<ul>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<script type="text/javascript">
	$("button").click(function(event){
		console.log("test");
		event.preventDefault()
		 id = $(this).attr("id")
		 uri = id.split("_")[1]
		 $("#"+uri).text(function(votes){
		 	return parseInt(votes)+1+""
		 })

		$.ajax({
        global: false,
        type: 'POST',
        url:'/projects/'+uri+'/vote',
        dataType: 'html',
        data:"votes",
        success: function (result) {
            console.log(result);
        },
        error: function (request, status, error) {
            console.log("error has taken place",error);
        }
    });
	})
</script>
